/* App.css */

.navbar {
  background-color: #f8f9fa;
  padding: 10px 20px;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  text-decoration: none;
}

.navbar-nav {
  display: flex;
  align-items: center;
}

.nav-item {
  margin-right: 10px;
}

.nav-link {
  font-size: 1rem;
  color: #333;
  text-decoration: none;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-menu.show {
  display: block;
}

.dropdown-item {
  display: block;
  padding: 10px 20px;
  color: #333;
  text-decoration: none;
}

.dropdown-item:hover {
  background-color: #f8f9fa;
  color: #007bff;
}

/* Добавленные стили для размещения элементов меню в ряд */
.navbar-nav {
  display: flex;
  align-items: center;
  list-style: none;
  /* Убираем маркеры списка */
  padding: 0;
  margin: 0;
}

.nav-item {
  margin-right: 10px;
}

.nav-item:last-child {
  margin-right: 0;
  /* Убираем правый отступ для последнего элемента */
}

.nav-link {
  text-decoration: none;
  color: #333;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

